# ==========================================
# PAPILIOLOGIC - PLANTILLA DE CONFIGURACION
# ==========================================

# --- GENERAL ---
ENV=development # development, staging, production
PROJECT_NAME=PailioLogic

# --- RELACIONES: NEO4J ---
PL_GRAPH_URI=bolt://papilio_graph:7687
PL_GRAPH_USER=neo4j
PL_GRAPH_PASSWORD=PONER_AQUI_TU_CONTRASEÑA
PL_GRAPH_DB_NAME=neo4j

NEO4J_AUTH=neo4j/PONER_AQUI_TU_CONTRASEÑA

# --- INGESTA: APACHE KAFKA ---
KAFKA_NODE_ID=1
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_CONTROLLER_QUORUM_VOTERS=1@papilio_kafka:29093
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:29092,CONTROLLER://0.0.0.0:29093,PLAINTEXT_HOST://0.0.0.0:9092
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://papilio_kafka:29092,PLAINTEXT_HOST://localhost:9092
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

# --- MONITORING ---
AKHQ_CONFIGURATION='{"akhq": {"connections": {"papilio-logic": {"properties": {"bootstrap.servers": "papilio_kafka:29092"}}}}}'

# --- LOGGING ---
LOG_LEVEL=DEBUG # INFO, WARNING, ERROR